@model Parking_Zone.MVC.Models.ParkingSlotVMs.DetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Parking Slot Details </h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Id)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Number)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Number)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IsAvailable)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IsAvailable)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Category)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ParkingZoneId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ParkingZoneId)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" asp-route-zoneId="@Model.ParkingZoneId" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
